h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
}

header {
  transition: all 0.6 ease;
}

header nav .nav-link {
  color: #fff;
}

header.scrolled nav {
  background-color: white;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

header.scrolled nav .nav-link {
  color: #000;
}

header nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

header.scrolled nav .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

footer .footer-top {
  padding: 40px 0;
}

footer .footer-top .content p {
  margin: 20px 0;
}

footer .footer-top .content h1 {
  font-size: 2rem;
  font-size: calc(1.325rem + 0.9vw);
}

footer .footer-top .content .social-media {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

footer .footer-top .content .social-media a {
  margin-right: 20px;
}

footer .footer-top .content .social-media a i {
  font-size: 24px;
}

footer .footer-top .content .social-media a:last-child {
  margin-right: 0;
}

footer .footer-top .content .know-more {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 50px;
  color: #fff;
  background-color: #0164ff;
  display: inline-block;
}

footer .footer-top .details {
  margin-left: 15%;
}

footer .footer-top .details .icons {
  margin: 20px 0;
}

footer .footer-top .details .icons .icon {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}

footer .footer-top .details .icons .icon i {
  margin-right: 10px;
}

footer .footer-bottom {
  padding: 40px 0;
  border-top: 1px solid #0164ff;
}

footer .footer-bottom .col-md-6:last-child {
  text-align: right;
}

footer .footer-bottom .col-md-6:last-child a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  .navbar {
    background-color: rgba(0, 0, 0, 0.6);
  }

  footer .footer-top {
    padding: 20px 0;
  }

  footer .footer-top .details {
    margin-left: 0;
    margin-top: 20px;
  }

  footer .footer-top .content .social-media {
    display: flex;
    justify-content: center;
  }
  footer .footer-bottom .col-md-6:first-child {
    text-align: center;
    margin-bottom: 10px;
  }

  footer .footer-bottom .col-md-6:last-child {
    text-align: center;
  }

  footer .footer-top .content h1 {
    font-size: calc(1.325rem + 0.9vw);
  }
}

.navbar-toggler span {
  display: block;
  background-color: #000;
  height: 2px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar .navbar-toggler {
  border: none;
}

.scrolled .navbar .navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0 !important;
  box-shadow: none !important;
}

.navbar-toggler span {
  background-color: #fff;
}

.scrolled .navbar-toggler span {
  background-color: #0065ff;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
  margin-top: 0.3em;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(1) {
  transform: translate(18%, -33%) rotate(40deg);
}

.navbar-toggler[aria-expanded="true"] span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler[aria-expanded="true"] span:nth-child(3) {
  transform: translate(18%, 33%) rotate(-40deg);
}
